# Python venv
.venv/
venv/
ENV/
env/

# Environment
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model / local files (nếu có)
*.pth
*.pt
*.h5

# Python build
build/
dist/
*.egg-info/
